*{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.header .c1{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 15%;
}
.header .c2{
    margin-right: 15%;
}
.header .c2 i{
    padding: 0 0 0 5px;
}
.header .c2 i:hover{
    cursor: pointer;
    color: grey;
}
.nav1, h3:focus{
    cursor: pointer;
}
.nav1 h3 a{
    position: absolute;
    left: 45%;
    font-size: 35px;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 0.2em;
    color: #94703A;
}
.nav1, h3:focus{
    cursor: pointer;
}
hr{
    position: relative;
    bottom: -55px;
    width: 90%;
    left: 5%;
}
.nav2{
    position: relative;
    bottom: -60px;
    margin-left: 15%;
}
.nav2 ul{
    display: flex;
    list-style: none;
}
.nav2 li{
    padding: 0 75px;
    margin-top: 15px;
}
.nav2 li a{
    padding: 0 5px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.nav2 li a:hover{
    color: #94703A;
}
.img1{
    position: relative;
    background-image: url(img/food.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    opacity: 0.7;
}
.title1{
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
}
.title1 .name1{
    color: azure;
    background-color: #333;
    padding: 20px;
    font-size: 27px;
    letter-spacing: 5px;
}
.box1{
    margin-top: 5%;
}
.box1 .b1{
    display: flex;
}
.box1 .b1 img{
    max-width: 30%;
    padding: 25px;
    margin-left: 15%;
}
.box1 .b1 h4{
    padding: 25px 0 0 0;
    font-size: 30px;
    font-family: cursive;
    color: #94703A;
}
.box1 .b1 p{
    padding-top: 10px;
    font-family: cursive;
}
.box1 .b2{
    display: flex;
}
.box1 .b2 .text{
    margin-left: 17%; 
} 
.box1 .b2 h4{
    padding: 25px 0 0 0;
    font-size: 30px;
    font-family: cursive;
    color: #94703A;
}
.box1 .b2 p{
    padding-top: 10px;
    font-family: cursive;
}
.box1 .b2 img{
    max-width: 30%;
    padding: 25px;
}
.container2{
    height: 180px;
}
.container2 h2{
    padding-top: 15px;
    margin-top: 5%;
    text-align: center;
    font-size: 35px;
    color: #94703A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form{
    position: absolute;
    margin-left: 15%;
    display: flex;
}
.form input{
    padding: 5px;
    margin: 15px;
}
.form input[type="date"], input[type="time"], select, input[type="submit"]{
    width: 250px;
    margin-top: 5%;
    height: 100%;
    border: 1px solid black;
}
.form select, input[type="submit"]{
    height: 30px;
}
.form input[type="submit"]{
    background-color: #ffd493;
    border: none;
}
.form input[type="submit"]:hover{
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}
.footer{
    display: flex;
    padding: 45px;
    height: 250px;
    justify-content: space-between;
    background-color: #94703A;
    color: rgb(212, 212, 212);
    font-family: cursive;
}
.footer .col1 input[type="email"]{
    margin-top: 10%;
}
.footer .col1 input[type="email"], input[type="submit"]{
    padding: 5px 0 5px 10px;
    outline: none;
    width: 250px;
    height: 30px;
    border: none;
}
.footer .col1 input[type="submit"]{
    width: 260px;
}
.footer .col1 input[type="submit"]:hover{
    cursor: pointer;
    color: white;
    background-color: #7c6849;
    transition: 0.9s;
}
.footer .col2 .socialmedia i{
    margin-top: 15px;
    padding: 0 5px;
}
.footer .col2 .socialmedia i:hover{
    cursor: pointer;
    color: #929292;
}